.Rproj.user
.Rhistory
.RData
.Ruserdata

**/analysis/SupplementaryMaterial_files/
**/analysis/SupplementaryMaterial.docx
**/analysis/SupplementaryMaterial.html

**/analysis/analysis_files/
**/analysis/analysis.html
**/analysis/Fig2.png
**/analysis/Fig3.png
**/analysis/Fig3.pdf